/*
    You can add your own custom styles here.
*/


.alert {
    font-weight: 500;
    color: inherit;
    border-radius: 0;
    background-color: #8ca5ba;
}  
 .alert-heading {
          color: #30638E;

  
        border-style: solid;
        border-color: #30638E;
        border-width: 0 0 0 4px;
      }
